#promo {
  text-align: center;
  padding: 60px;
  background: url(../../assets/img/Etc/background.png) no-repeat;
  background-size: cover;
  margin-top: 65px;
}

@media (max-width:991px) {
  #promo {
    padding: 20px;
  }
}

#carousel-1 {
  height: 700px;
  /* 👈 Choose a fixed height you want */
  overflow: hidden;
}

#carousel-1 .item img {
  height: 100%;
  width: auto;
  object-fit: cover;
  /* or 'contain' if you don't want cropping */
  display: block;
  margin: 0 auto;
}

#promo .jumbotron {
  border-radius: 20px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.75);
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width:991px) {
  #promo .jumbotron {
    padding: 20px;
  }
}
